.horizontal.rtg__container{
  &--step-1, &--step-2{
    --pin-color: white;
  }
  &--step-3{
    --pin-color: $primary;
  }
  .rtg__pin span {
    color: grey;
  }

  p{
    max-width: 300px;
  }
  .horizontal__controls{
    display: flex;
  }
  button.btn{
    border: none;
    margin: 0;
    &:focus{
      outline-color: rgba(#000, 0.1);
      outline-offset: 2px;
    }
    &--next{
      background: $secondary;
      justify-self: flex-end;
    }
    &--skip{
      justify-self: flex-start;
      margin-right: auto;
    }
  }
}