

@import url(//fonts.googleapis.com/css?family=Poppins);
@import url(//fonts.googleapis.com/css?family=Rowdies);

body {
  font-family: Poppins, Roboto;
  margin: 0;
  padding: 0;

  min-height: 100vh;
  width: 100%;
 //
  //position: relative;
}




p, li, h1, h2, h3, h4, h5, h6, label {
  letter-spacing: 1px;
  color: rgba(#000, 0.7);
}

* {
  box-sizing: border-box;
}


.nowrap{
  white-space: nowrap;
}
