form{
  box-sizing: border-box;
  label{
    display: block;
    margin: 6px auto;
  }
  input{
    display: block;
    padding: 12px;
    border: 1px solid $primary;
    border-radius: 2px;
    &:hover{
      border-color: $secondary;
    }
    &:active, &:focus, &:active:focus{
      border-color: $secondary;
      outline-color: $secondary;
    }
  }
}