@mixin scrolls(){
  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  &::-webkit-scrollbar-thumb {
    //background-color: $primary;
    @include background-stripes(2%);
    outline: 1px solid slategrey;
  }
}
